body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

/* Banner section style */

.centre-item{
    margin: 0 auto;
    background-image: url("../images/Banner\ Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1340px;
    height: 1100px;
    border-radius: 16px;
    margin-top: 30px;
    
}

.centre-item-list{
    color: rgb(74, 194, 246);
    text-align: center;
}

.centre-item .happy-happy{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    padding-top: 200px;
    font-family: Merriweather;
    color: rgb(171, 229, 243);
}

.centre-item .celebration-celebration{
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    padding-top: 10px;
    font-family: Merriweather;
}

/* 65% off style */

.new-year-discount{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    margin-top: 0;
    }

.discount-percentage{
    text-align: center;
    padding: 0px auto;
}

.discount-percentage-title{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.new-year-start-celebrate{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.new-year-start-celebrate-catgry{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-banner{
    margin: 5px;
    padding: 2px;
}

/* midnight party style */

.midnight-party{
    margin: 0 auto;
    background-image: url("../images/Vectorrr.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1340px;
    height: 1100px;
    border-radius: 16px;
    margin-top: 500px;
    display:flex;
}

.party-party{
    text-align: left;
}

.p-heading{
color: #FFF;
font-family: Merriweather;
font-size: 60px;
font-weight: 900;
letter-spacing: 7.04px;
padding-left: 80px;
padding-top: 60px;
width: 500px;
}

.p-description{
    color: rgba(248, 239, 239, 0.8);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    width: 600px;
    padding-left: 70px;
}

.img-2024{
    margin-top: 120px;
    margin-left: 330px;
}

.btn-join{
   margin-left: 100px;
   font-size: 25px;
   padding: 10px;
   border: none;
   text-decoration: none;
   background-color: rgb(206, 127, 30);
   border-radius: 5px;
   color: #FFF;
}

/* date place style */

.date-place{
    margin: 0 auto;
    width: 1340px;
    height: 500px;
    background-color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(193, 121, 49) 0%, rgb(74, 161, 182) 35%);
    border-radius: 16px;
    display:block;
    text-align: center;
}

.where-when-1{
color: rgb(10, 8, 8);
font-family: Inter;
font-size: 32px;
font-weight: 600;
padding-top: 200px;
}
.where-when-2{
color: rgb(10, 8, 8);
font-family: Inter;
font-size: 32px;
font-weight: 600;
}
.where-when-3{
color: rgb(10, 8, 8);
font-family: Inter;
font-size: 32px;
font-weight: 600;
}

.span-color{
    color: rgb(238, 238, 238);
}

.btn-join-now{
    margin-left: 100px;
   font-size: 25px;
   padding: 15px;
   border: none;
   text-decoration: none;
   background-color: rgb(212, 33, 20);
   border-radius: 5px;
   color: #110101;
}


/* comming soon style */

.comming-soon{
    margin: 0 auto;
    width: 1340px;
    height: 500px;
    border-radius: 16px;
    display:flex;
    text-align: center;
    margin-top: 200px;
    gap: 20px;
}


.title-going{
    text-align: left;
    font-family: Inter;
}

.offer{
    color: #da0f0f;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.soon{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}

.s-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.new-year-image-last{
    align-items: center;
}

.circle-image{
    padding: 10px;
    border: 25px solid red;
    padding: 35px;
    border-radius: 100%;
}

.year-2024{
font-family: Inter;
}

.year-head{
    color: tomato;
    font-size: 50px;
    font-family: Inter;
}

.description-2024{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

/* holiday section style */

.holiday-sale{
    margin: 0 auto;
    width: 1340px;
    height: 50px;
    border-radius: 16px;
    margin-top: 50px; 
    display: flex;
}

.hday-info{
    text-align: center;
    margin: 0px;
    width: 300px 300px;
    text-align: justify;
}

.hday-heading{
color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: center;
/* padding-bottom: 0px; */
}

.sale-50{
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
text-align: center;
}

.holiday-red{
    color: #F00;
}

.sale-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 30px;
text-align: justify;
font-weight: 500;
text-align: center;
}


.image-grp{
    background-image: url("../images/Rectangle1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    width: 1340px;
    height: 1000px;
    border-radius: 16px;
    margin-top: 10px; 

}
.grp-75{
    margin-top: 400px;
    margin-right: 100px;
}

/* awsome portfolio style */

.portfolio{
    margin: 0 auto;
    width: 1340px;
    height: 500px;
    margin-top: 200px;
    
}

.pft-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 30px;
}

.the-best-gift .best-gift{
    width: 300px;
    color: #F00;
    font-size: 30px;
    margin-left: 100px;
}

    .p-origin-text{
        margin-left: 100px;
        margin-right: 200px;
        color: blueviolet;
    }

.the-best-gift .awsome-port{
    color: rgb(35, 21, 21);
    font-size: 50px;
    margin-left: 100px;
}

.image-pft{
    margin: 0 auto;
    width: 1340px;
    height: 600px;
    border-radius: 16px;}

    /* subscribe section */

    .subscribe-section{
        margin: 0 auto;
        width: 1340px;
        height: 500px;
        border-radius: 16px;
        margin-top: 400px;  
        background-color: rgba(248, 239, 239, 0.8);   
    }

    .mail-logo{
        text-align: center;
        padding-top: 50px;
    }

    .subsc-heading{
        text-align: center;
        margin: 0;
        color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 45px;
        font-weight: 500;
    }

    .subsc-description{
        width: 550px;
        text-align: justify; 
        margin-left: 390px; 
        font-size: 25px;
        color: #000000;
    }

    .mail-form-head{
        text-align: center;
        border: none;
        text-decoration: none;
        font-size: 20px
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 50px;
        padding-left: 290px;
    }

    form input{
        text-align: center;  
        display: flex;
        color: whitesmoke;
        border: none;
        border-bottom-left-radius:8px ;
        padding: 10px;
        font-size: 20px; 
    }

    form button{
        text-align: center;  
        display: flex;
        background-color: rgb(215, 53, 41);
        color: whitesmoke;
        border: none;
        border-top-right-radius: 8px;
        padding: 10px;
        font-size: 20px;
    }

    forrm button:hover{
        cursor: pointer;
    }

    /* footer section style */

    footer{
        margin: 0;
        width: 100%;
        height: 500px;
        background-color: #000000;
        margin-top: 100px;
    }

    footer .footer-section {
        display: flex;
        justify-content: space-between;
        color: #FFF;
        
    }

    .footer-section .date-description{
        width: 320px;
        display: block;
        padding-left: 100px;
        padding-top: 70px;
        font-size: 20px;
    }

    .footer-section .phn-web{
        width: 300px;
        display: block;
        padding-right: 100px;
        padding-top: 70px;
        font-size: 20px;
        
    }

    .icon-image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        gap: 20px;
    }

    .icon-icon:hover{
        cursor: pointer;
    }

    .hrline{
        margin: 20px 0;
        opacity: 0.3;
        padding-top: 10px;

    }

    .rights-unsubscribe{
        display: flex;
        color: #FFF;
        justify-content: space-between;
    }

    .rights-unsubscribe .rights-2017{
        width: 320px;
        padding-left: 100px;
        padding-top: 10px;
        font-size: 20px;
    }

    .unsub-button{
        padding-top: 30px; 
        color: #FFF;
        background-color: none;
        text-decoration: none;
    }
    .unsub-button .button{
        
        margin-right: 290px;
        cursor: pointer;
        font-size: 20px;
        }
    
        .button:hover{
            color: #F00;
            font-weight: 700;
        }



    