body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

/* Banner section style */

.centre-item{
    margin: 0 auto;
    background-image: url("../images/Banner\ Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1340px;
    height: 1100px;
    border-radius: 16px;
    margin-top: 30px;
    
}

.centre-item-list{
    color: rgb(74, 194, 246);
    text-align: center;
}

.happy-happy{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    padding-top: 200px;
    font-family: Merriweather;
    color: rgb(251, 251, 251);
}

.celebration-celebration{
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    padding-top: 10px;
    font-family: Merriweather;
}

/* 65% off style */

.new-year-discount{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    margin-top: 0;
    }

.discount-percentage{
    text-align: center;
    padding: 0px auto;
}

.discount-percentage-title{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.new-year-start-celebrate{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.new-year-start-celebrate-catgry{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-banner{
    margin: 5px;
    padding: 2px;
}

/* midnight party style */

.midnight-party{
    margin: 0 auto;
    background-image: url("../images/Vectorrr.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1340px;
    height: 1100px;
    border-radius: 16px;
    margin-top: 500px;
    display:flex;
}

.party-party{
    text-align: left;
}

.p-heading{
color: #FFF;
font-family: Merriweather;
font-size: 60px;
font-weight: 900;
letter-spacing: 7.04px;
padding-left: 80px;
padding-top: 60px;
width: 500px;
}

.p-description{
    color: rgba(248, 239, 239, 0.8);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    width: 600px;
    padding-left: 70px;
}

.img-2024{
    margin-top: 120px;
    margin-left: 330px;
}

.btn-join{
   margin-left: 100px;
   font-size: 25px;
   padding: 10px;
   border: none;
   text-decoration: none;
   background-color: rgb(206, 127, 30);
   border-radius: 5px;
   color: #FFF;
}